<!-- <li class="m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-center 	m-dropdown--mobile-full-width" m-dropdown-toggle="click" m-dropdown-persistent="true"> -->
<a href="javascript:;" class="m-nav__link m-dropdown__toggle" id="m_topbar_notification_icon">
	<span class="m-nav__link-badge m-badge m-badge--dot m-badge--dot-small m-badge--danger"
		[ngClass]="animateBlink"></span>
	<span class="m-nav__link-icon" [ngClass]="animateShake">
		<span class="m-nav__link-icon-wrapper">
			<i class="flaticon-alarm"></i>
		</span>
	</span>
</a>
<div class="m-dropdown__wrapper" style="margin-left: -350px;">
	<span class="m-dropdown__arrow m-dropdown__arrow--center" style="color: rgb(44, 43, 79); left: 92%;"></span>
	<div class="m-dropdown__inner" style="width: 500px;">
		<div class="m-dropdown__body" style="overflow: auto; height: 60vmin;">
			<div class="m-dropdown__content">
				<label style="padding-left: 30%">
					Reminder Notifications
				</label>
				<br>
				<mat-card class="mat-elevation-z8" *ngFor="let reminder of reminderData">
					<div class="grid-container">
						<div class="grid-item">
							<strong>Case-id : </strong> {{reminder.caseId}}
						</div>
						<div class="grid-item">
							<strong>Date-time : </strong> {{reminder.reminderDate | date}}
						</div>
						<div class="grid-item message" matTooltip="{{reminder.message}}">
							<strong>Message : </strong> {{reminder.message | slice:0:4}}
						</div>
					</div>
				</mat-card>
			</div>
		</div>
	</div>
</div>
<!-- </li> -->