:host {
	/deep/.mat-tab-label,
	/deep/.mat-tab-label-active {
		min-width: 0 !important;
		padding: 0 10px !important;
		margin: 0 10px !important;
	}
}

.mat-elevation-z8 {
	margin-bottom: 5px;
}

.grid-container {
	display: grid;
	grid-template-columns: 65% 35%;
	padding: 10px;
  }
  .grid-item {
	text-align: left;
  }

  .message{
	grid-row: 3 / span 2;
  }