<div class="m-grid__item m-grid__item--fluid m-grid m-error-5 error-container">
    <div class="m-error_container">
        <span class="m-error_title">
            <h1>Oops!</h1>
        </span>
        <p class="m-error_subtitle">
            Something went wrong here.
        </p>
        <p class="m-error_description">
            We're working on it and we'll get it fixed<br>
            as soon possible.<br>
            You can back or use our Help Center.
        </p>
        <mat-card class="error-stack-card mat-elevation-z8">
            <mat-card-title style="font-size: 20px; color:red; font-weight:bolder;">
                {{errorType}}
            </mat-card-title>
            <mat-card-content>
                {{errorMessage}}
            </mat-card-content>
        </mat-card>
    </div>
</div>