.error-container{
    background-image: url(../../../../../assets/cassia/default/media/img/error/bg5.jpg);
}

.error-stack-card{
width: 50%;
margin: 30px;
}

.m-error_title>h1{
    margin-top: 5rem;
}