<!-- <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'> -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- <script src="http://flowchart.js.org/flowchart-latest.js"></script> -->
<script src="../assets/js/raphael-min.js"></script>
<script src="../assets/js/flowchart.js"></script>

<!-- splash screen -->
<div #splashScreen class="m-splash-screen">
	<img [attr.src]="splashScreenImage" style="width: 90px; margin-bottom: 30px;" alt="Logo">
	<!--here we will have circle progress bar-->
	<mat-spinner diameter="40"></mat-spinner>
</div>

<router-outlet></router-outlet>