<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile class="left-pane" class="signUp">
    <div></div>
  </mat-grid-tile>

  <mat-grid-tile>

    <div>
      <div>
        <img src="./assets/cassia/default/media/img/logo/dark/logo_dark_large.png">
      </div>
      <form [formGroup]="signUpForm">
        <div>
          <p style="margin-left: 100px">Welcome, Please fill the following details to register in Cassia Patient Hub
            <br /> <br />
          </p>
        </div>
        <div>
          <mat-form-field  class="registration-form">
            <input formControlName="firstName" matInput placeholder="First Name" value="">
            <ng-container *ngIf="signUpForm.controls.firstName.hasError('required')"
              ngProjectAs="mat-error">
              <mat-error>First Name is required</mat-error>
            </ng-container>
          </mat-form-field>
          <mat-form-field class="registration-form">
            <input formControlName="lastName" matInput placeholder="Last Name" value="">
            <ng-container *ngIf="signUpForm.controls.lastName.hasError('required')" ngProjectAs="mat-error">
              <mat-error> Last Name is required</mat-error>
            </ng-container>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="registration-form">
            <input formControlName="workEmail" matInput placeholder="Work Email" value="">
            <ng-container *ngIf="signUpForm.controls.workEmail.hasError('required')" ngProjectAs="mat-error">
              <mat-error> Work Email is required</mat-error>
            </ng-container>
          </mat-form-field>
          <mat-form-field class="registration-form">
            <input formControlName="dob" matInput [matDatepicker]="picker" placeholder="Date Of Birth">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-hint>Format: MM/DD/YYYY</mat-hint>
            <ng-container *ngIf="signUpForm.controls.dob.hasError('required')" ngProjectAs="mat-error">
              <mat-error> Date is required</mat-error>
            </ng-container>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="registration-form">
            <input formControlName="phone" matInput name="number" type="text" placeholder="Phone">
            <mat-hint>(000-000-0000)</mat-hint>
            <ng-container *ngIf="signUpForm.controls.phone.hasError('required')" ngProjectAs="mat-error">
              <mat-error> Phone is required</mat-error>
            </ng-container>
            </mat-form-field>
          <mat-form-field class="registration-form">
            <input formControlName="state" matInput placeholder="State" value="">
            <ng-container *ngIf="signUpForm.controls.state.hasError('required')" ngProjectAs="mat-error">
              <mat-error> State is required</mat-error>
            </ng-container>
          </mat-form-field>
        </div>
        <div>
            <mat-checkbox [checked] = "isChecked" formControlName="agreed"  class="registration-form" color="primary" required>I agree with the <a
                href="/">Terms and
                Conditions</a>
            </mat-checkbox>
            <p style="margin-left: 100px">By registering, you confirm that you agree to the processing of your data by
              AppianRx as described in <a href='link to privacy policy'>Privacy Policy</a></p>
              <ng-container *ngIf="signUpForm.controls.agreed.hasError('required')" ngProjectAs="mat-error">
                <mat-error style="margin-left: 100px"> You need to agree to the terms and conditions</mat-error>
              </ng-container>
        </div>
        <div>
          <button id = "signup" style="margin-left: 100px" mat-raised-button (click)="signUpData()" type="submit" [disabled] = "isButtonDisabled">Sign Up
            <mat-spinner class="spinner-button" mode="indeterminate" diameter="20" *ngIf="signUpLoading"></mat-spinner>
          </button>
        </div>

        <div>
          <p style="margin-left: 100px">Already have an account? Click to <a
              href='http://localhost:4200/authorize/signin'>Login</a></p>
        </div>
      </form>
    </div>
  </mat-grid-tile>
</mat-grid-list>