.registration-form {
  min-width: 150px;
  padding: 10px;
  max-width: 200px;
  width: 100%;
  margin-left: 100px;
}

.signUp {
//   position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
//   padding-bottom: 46.20%;
  background-image: url("../../../../../assets/cassia/default/media/img/bg/bg-cassia.png");
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  margin-left: 100px;
  width: 60%;
  height: auto;
}
