<mat-card class="chart-card">
  <mat-card-title class="mat-card-header">
    Referrals Summary
  </mat-card-title>
  <mat-card-content>
    <mat-grid-list [cols]="donutChartData.length" rowHeight="100px" gutterSize="10px">
      <mat-grid-tile style="top: 3px !important;" *ngFor="let data of donutChartData">
        <mat-card [style.background]="data.color" class="chart-card">
          <mat-card-title>
            {{data.value}}
          </mat-card-title>
          <div class="chart-card-content">{{data.label}}</div>

        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
<mat-card class="mat-card-body">
  <mat-card-title class="mat-card-header">
    Active Referrals
  </mat-card-title>
  <mat-card-content>
    <div class="loading-shade" *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <table class="responstable" mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

      <ng-container matColumnDef="overall-sub-status" sticky>
        <th class="header" mat-header-cell *matHeaderCellDef>
          <mat-form-field class="filter" floatLabel="never">
            <input matInput id="search-input" placeholder="Overall Sub Status">
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let case">{{case.overall_sub_status}}</td>
      </ng-container>

      <ng-container matColumnDef="txn-date">
        <th class="header" mat-header-cell *matHeaderCellDef>
          <mat-form-field class="filter" floatLabel="never">
            <input matInput id="search-input" placeholder="Txn Date">
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let case">{{case.txnDate | date: 'medium'}}</td>
      </ng-container>

      <ng-container matColumnDef="overall-state">
        <th class="header" mat-header-cell *matHeaderCellDef>
          <mat-form-field class="filter" floatLabel="never">
            <input matInput id="search-input" placeholder="Overall State">
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let case">{{case.faxStatus}}</td>
      </ng-container>

      <ng-container matColumnDef="referral-type">
        <th class="header" mat-header-cell *matHeaderCellDef>
          <mat-form-field class="filter" floatLabel="never">
            <input matInput id="search-input" placeholder="Referral Type">
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let case">{{case.faxDoctorName}}</td>
      </ng-container>

      <ng-container matColumnDef="info-source">
        <th class="header" mat-header-cell *matHeaderCellDef>
          <mat-form-field class="filter" floatLabel="never">
            <input matInput id="search-input" placeholder="Info Source">
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let case">{{case.ClientGroup}}</td>
      </ng-container>

      <ng-container matColumnDef="order-date">
        <th class="header" mat-header-cell *matHeaderCellDef>
          <mat-form-field class="filter" floatLabel="never">
            <input matInput id="search-input" placeholder="Order Date">
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let case">{{case.RxOrderDate | date: 'medium'}}</td>
      </ng-container>

      <ng-container matColumnDef="drug">
        <th class="header" mat-header-cell *matHeaderCellDef>
          <mat-form-field class="filter" floatLabel="never">
            <input matInput id="search-input" placeholder="Drug">
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let case">{{case.RxDRUG}}</td>
      </ng-container>

      <ng-container matColumnDef="patient">
        <th class="header" mat-header-cell *matHeaderCellDef>
          <mat-form-field class="filter" floatLabel="never">
            <input matInput id="search-input" placeholder="Patient">
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let case">{{case.PatientName}}</td>
      </ng-container>

      <ng-container matColumnDef="doctor">
        <th class="header" mat-header-cell *matHeaderCellDef>
          <mat-form-field class="filter" floatLabel="never">
            <input matInput id="search-input" placeholder="Doctor">
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let case">{{case.doctorName}}</td>
      </ng-container>

      <ng-container matColumnDef="doctor-facility">
        <th class="header" mat-header-cell *matHeaderCellDef>
          <mat-form-field class="filter" floatLabel="never">
            <input matInput id="search-input" placeholder="Doctor Facility">
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let case">{{case.doctorFacility}}</td>
      </ng-container>

      <ng-container matColumnDef="rating">
        <th class="header" mat-header-cell *matHeaderCellDef>
          <mat-form-field class="filter" floatLabel="never">
            <input matInput id="search-input" placeholder="Rating">
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let case">
          <bar-rating [(rate)]="rate" [max]="5" [theme]="'fontawesome-o'"
            [titles]="['one', 'two', 'three','four','five']" [showText]="true"></bar-rating>
        </td>
      </ng-container>

      <ng-container matColumnDef="hcp-comment">
        <th class="header" mat-header-cell *matHeaderCellDef>
          <mat-form-field class="filter" floatLabel="never">
            <input matInput id="search-input" placeholder="HCP Comment">
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let case">
          <mat-icon class="report">report</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions" stickyEnd>
        <th class="header" mat-header-cell *matHeaderCellDef>
          <mat-form-field class="filter" floatLabel="never">
            <input matInput id="search-input" placeholder="Actions">
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let case">
          <mat-icon class="action"> forum</mat-icon>
          <mat-icon class="action"> mail_outline</mat-icon>
        </td>
      </ng-container>



      <ng-container matColumnDef="overallSubStatus" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Overall Sub Status </th>
      </ng-container>
      <ng-container matColumnDef="txnDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Txn Date </th>
      </ng-container>
      <ng-container matColumnDef="overallState">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Overall State </th>
      </ng-container>
      <ng-container matColumnDef="OrderDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Date </th>
      </ng-container>
      <ng-container matColumnDef="Drug">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Drug </th>
      </ng-container>
      <ng-container matColumnDef="Patient">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient </th>
      </ng-container>
      <ng-container matColumnDef="referralType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Referral Type </th>
      </ng-container>
      <ng-container matColumnDef="infoSource">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Info Source </th>
      </ng-container>
      <ng-container matColumnDef="Doctor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Doctor </th>
      </ng-container>
      <ng-container matColumnDef="doctorFacility">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Doctor Facility</th>
      </ng-container>
      <ng-container matColumnDef="Rating">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rating </th>
      </ng-container>
      <ng-container matColumnDef="hcpComment">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> HCP Comment </th>
      </ng-container>
      <ng-container matColumnDef="Actions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-header-row
        *matHeaderRowDef="['OrderDate','txnDate','Patient','Drug','Doctor','doctorFacility','overallSubStatus','overallState','referralType','infoSource','Rating','hcpComment','Actions']">
      </tr>
      <tr mat-row *matRowDef="let hcp; columns: columnsToDisplay"></tr>
    </table>
  </mat-card-content>
  <mat-paginator [length]="resultsLength" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100, 500]"
    showFirstLastButtons></mat-paginator>
</mat-card>