 .mat-card-body{
        color:rgb(77, 80, 104);
        
        }

        .mat-card-content{
          width: 100%;
          overflow-x: auto;
        }
        
        .button{
            background-color: rgb(77, 80, 104);
            color: aliceblue;
            margin-left : 20px;
            margin-bottom: 15px;
            float: right;
        }
        
        .divider{
            height:5px;
        
        }
    
    .table-button{
        background-color: rgb(77, 80, 104);
        color: aliceblue;
        float: unset;
        margin-right : 20px;
    }
    
    .search-header-text{
        vertical-align: middle;
    }
    
    .case-header{
        float: right;
    }


    .action,.report{
        color: grey;
        size: 10px;
    }



    .chart-card{
        width: 100%;
        margin-bottom: 5px;
        overflow: auto;
    }

    .chart-card-content{
        font-size: 15px;
    }

    .mat-grid-tile{
        top: 7px !important;
    }
