<!-- begin::Footer -->
<div class="m-container m-page__container m-container--full-height" [ngClass]="footerContainerClass$ | async">
	<div class="m-footer__wrapper">
		<div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
			<div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
			<span class="m-footer__copyright">
				2018 &copy;Cassia Patient Experiance Hub Center |
				<a href="https://appianrx.com/" class="m-link">
					AppianRx - The Patient Journey Begins Here
				</a>
			</span>
			</div>
			<div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
				<ul class="m-footer__nav m-nav m-nav--inline m--pull-right">
					<li class="m-nav__item">
						<a href="#" class="m-nav__link">
						<span class="m-nav__link-text">
							About
						</span>
						</a>
					</li>
					<li class="m-nav__item">
						<a href="#" class="m-nav__link">
						<span class="m-nav__link-text">
							Privacy
						</span>
						</a>
					</li>
					
					
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- end::Footer -->
