/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~ngx-bar-rating/themes/br-fontawesome-o-theme";

body {
  font-family: "Roboto";
  font-size: 12px !important;
}

/* START: mat card*/
.mat-card-header {
  font-size: 18px !important;
  color: rgb(44, 43, 79) !important;
  font-weight: 500 !important;
  margin-bottom: 5px !important;
}

.mat-card {
  display: block;
  position: relative;
  padding: 10px !important;
  border-radius: 4px;
  font-family: Roboto, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif !important;
}

.button {
  background-color: rgb(77, 80, 104) !important;
  color: aliceblue !important;
  margin-left: 20px !important;
  float: right !important;
}

.spinner-button {
  color: aliceblue !important;
  margin-left: 5px !important;
  float: right !important;
  position: absolute;
  top: 3px;
}

mat-card-title {
  height: 100%;
  font-size: 18px;
  color: rgb(44, 43, 79);
  font-weight: 200;
  margin-bottom: 10px !important;
}

.mat-expansion-panel-header-title {
  color: #d79922 !important;
}

mat-card-content {
  border-top: 2px solid;
}

mat-panel-title {
  font-size: 15px;
  font-weight: 100;
  float: right;
}

.inner-card {
  background-color: #f0f0f7;
  margin-bottom: 10px;
}

.card-icon {
  float: right;
  cursor: pointer;
}

/* END: mat card */

/* Table property */

$table-breakpoint: 0px;
$table-outer-border: 1px solid rgb(188, 202, 204);
$table-cell-border: 1px solid #d9e4e6;
// Extra options for table style (parse these arguments when including your mixin)
$table-border-radius: 1px;
$table-header-background-color: #2c2e3e;
$table-header-text-color: #fff;
$table-header-search-text-color: #1f2021;

@mixin responstable(
  $breakpoint: $table-breakpoint,
  $outer-border: $table-outer-border,
  $cell-border: $table-cell-border,
  $border-radius: none,
  $highlight-color: #eff7ff,
  $header-border: $table-cell-border
) {
  .responstable {
    margin: 0.75em 0;
    width: 100%;
    overflow: auto;
    border-radius: $border-radius;
    border: $outer-border;

    tr {
      border: $cell-border;
      &:nth-child(odd) {
        // highlight the odd rows with a color
        background-color: $highlight-color;
      }
    }

    .mat-header-row {
      &:first-child {
        // highlight the odd rows with a color
        background-color: $highlight-color;
        color: $table-header-text-color;
        th {
          color: $table-header-search-text-color;
        }
      }
      &:last-child {
        background-color: $table-header-background-color;
        th {
          color: $table-header-text-color;
        }
      }
    }

    th {
      // color: $table-header-text-color;
      &:first-child {
        // show the first table header for mobile
        display: table-cell;
        text-align: center;
      }
      &:nth-child(2) {
        // show the second table header but replace the content with the data-th from the markup for mobile
        display: table-cell;
        text-align: center;
        span {
          display: none;
        }
      }
    }

    td {
      // display: block; // display the table data as one block for mobile
      word-wrap: normal;
      // max-width: 100%;
      &:first-child {
        display: table-cell; // display the first one as a table cell (radio button) for mobile
        border-right: $cell-border;
      }
      @media (min-width: $breakpoint) {
        border: $cell-border;
      }
    }

    th,
    td {
      text-align: left;
      margin: 0.25em 0.25em;
      @media (min-width: $breakpoint) {
        display: table-cell; // show the table as a normal table for tablet and desktop
        padding: 0.5em;
      }
    }
  }
}

//Include the mixin (with extra options as overrides)

@include responstable($border-radius: $table-border-radius);

td.mat-cell,
th.mat-header-cell {
  padding-left: 10px !important ;
  padding-right: 5px !important;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 28% !important;
  overflow-wrap: break-word;
}

/* END: table property  */

.mat-select-panel {
  background: rgb(241, 241, 241) !important;
}

.add-button {
  float: right !important;
}

.radio-label {
  font-weight: bold;
  margin-right: 5px;
}

.orange {
  background-color: #d79922 !important;
}

.default-button {
  background-color: rgb(77, 80, 104);
  color: aliceblue;
}

.green {
  background-color: #3aafa9 !important;
}

.red {
  background-color: #b23850 !important;
}

.mat-expansion-panel-header-description,
.mat-expansion-indicator::after {
  color: #d79922 !important;
}

/* START: Case Creation Navigation Arrows*/

.right-arrow {
  display: inline-block;
  position: relative;
  background: #aaabb8 !important;
  padding: 15px;
  font-size: 15px;
  font-weight: 400;
}

.right-arrow:after {
  content: "";
  display: block;
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #aaabb8 !important;
}

.right-arrow:hover {
  cursor: pointer;
  background: darkgray;
}

.left-arrow {
  display: inline-block;
  position: relative;
  background: #aaabb8 !important;
  padding: 5px;
  font-size: 15px;
  font-weight: 400;
}

.left-arrow:after {
  content: "";
  display: block;
  position: absolute;
  right: 100%;
  top: 50%;
  margin-top: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid #aaabb8 !important;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
}

.left-arrow:hover {
  cursor: pointer;
  background: darkgray;
}

.down-arrow {
  display: inline-block;
  position: relative;
  background: #aaabb8 !important;
  padding: 5px 0;
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}

.down-arrow:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  height: 0;
  border-top: 0px solid #aaabb8 !important;
  border-right: 100px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 100px solid transparent;
}

.down-arrow:hover {
  background: darkgray;
}

/* END: Case Creation Navigation Arrows*/

.case-header {
  text-align: center !important;
  float: right !important;
}

.mat-table__wrapper .mat-table {
  min-width: 1000px;
  width: 100%;
}

.mat-table__wrapper--dashboard .mat-table {
  min-width: 600px !important;
}

.mat-table__wrapper .mat-table .email-cell {
  word-wrap: normal;
  width: 180px;
  flex: auto;
}

.m-mat-dialog-container__wrapper .mat-dialog-container {
  padding: 0;
  overflow-x: hidden;

  .m-portlet {
    margin-bottom: 0;
  }

  .alert {
    border-radius: 0 !important;
    width: 1032px;
  }
}

.mat-table__wrapper--sub .mat-table {
  min-width: 400px;

  .mat-cell:last-child {
    flex: 0 0 100px;
  }

  .mat-header-cell:last-child {
    flex: 0 0 100px;
  }
}

.ml-auto {
  margin-left: auto;
}

.example-full-width {
  width: 100%;
}

mat-radio-button {
  padding-right: 16px;
}

.m-form--alert {
  margin-top: 30px;
}

.mat-column-checkbox {
  flex: 0 0 68px;
}

.mat-column-id {
  flex: 0 0 68px;
}

.mat-column-main {
  flex: 0 0 568px;
}

.mat-column-actions {
  flex: 0 0 160px;
}

.mat-table__bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mat-column-vinCode {
  flex: 0 0 170px;
}

.m-portlet-mx-0 {
  margin: -1.1rem -2.2rem 0;
  overflow-x: hidden;
}
.mat-table__wrapper .mat-table .mat-row-editing.mat-row-inactive {
  height: 0;
  min-height: 0;
  padding: 0 !important;
  border-bottom: 0 !important;
}

.asterix-required {
  color: red;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  opacity: 0.25;
}

*:hover::-webkit-scrollbar {
  height: 10px;
}

::-webkit-scrollbar-button:single-button {
  background-color: #bbbbbb;
  display: block;
  border-style: solid;
  height: 13px;
  width: 16px;
}

/* vertical scrollbar */

/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #555555 transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent #777777 transparent;
}
/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 8px 8px 0 8px;
  border-color: #555555 transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: #777777 transparent transparent transparent;
}

/* horizontal scrollbar */

/* Up */
::-webkit-scrollbar-button:horizontal:single-button:decrement {
  transform: rotate(90);
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #555555 transparent;
}

::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
  border-color: transparent transparent #777777 transparent;
}
/* Down */
::-webkit-scrollbar-button:single-button:horizontal:increment {
  transform: rotate(90);
  border-width: 8px 8px 0 8px;
  border-color: #555555 transparent transparent transparent;
}

::-webkit-scrollbar-button:horizontal:single-button:increment:hover {
  border-color: #777777 transparent transparent transparent;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(77, 80, 104);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(77, 80, 104);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2c2e3e;
}

/* Scrollbar customization End */

/* on Table Load or refresh */

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-of-unit
{
color: #dba339 !important;
font-size: 15px;
 font-weight: 100;
    float: right;
}