.error-container{
    background: url(../../../../../assets/cassia/default/media/img/error/bg3.jpg) no-repeat center center fixed; 
    position: fixed; 
    top: 0; 
    left: 0; 
      
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}