
<br>
<mat-card>
  <mat-card-title>Add User</mat-card-title>
  <mat-card-content>
    <br>
    <form class="user-form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <mat-grid-list cols="4" rowHeight="70px">
            <mat-grid-tile>
              <mat-form-field class="user-full-width">
                <input matInput placeholder="Name" formControlName="name">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="user-full-width">
                <input matInput type="email" placeholder="Email" formControlName="emailId">
                <!-- <mat-error *ngIf="emailId.invalid">{{getErrorMessage()}}</mat-error>  -->
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="user-full-width">
                <input matInput placeholder="Login Id" formControlName="loginId">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="user-full-width">
                <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" formControlName="password">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="user-full-width" hintLabel="Comma (,) Seperated Multiple NPI's">
                <textarea matInput placeholder="Assigned NPI" formControlName="assignedNpi"></textarea>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="user-full-width" hintLabel="Comma (,) Seperated Multiple Assigned Location's">
                <textarea matInput placeholder="Assigned Location" formControlName="assignedLocation"></textarea>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <mat-label>User Type</mat-label>
                <select matNativeControl formControlName="userType">
                  <option value=""></option>
                  <option value="Internal">Internal</option>
                  <option value="External">External</option>
                </select>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <label>Enable&nbsp;&nbsp;&nbsp;</label>
              <mat-radio-group formControlName="active">
                <mat-radio-button value="Yes">Yes</mat-radio-button>
                <mat-radio-button value="No">  No</mat-radio-button>
              </mat-radio-group>
            </mat-grid-tile>
          </mat-grid-list>
          <br>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
  </mat-card-content>
</mat-card>
            
<!-- <button (click)="getAllUsers()">
  Get User
</button> -->

<p>
  Form Status: {{ this.userForm.status }}
</p>

<p>
  Form Values: {{ this.userForm.value | json }}
</p>