<!-- begin:: Page -->
<ng-container *ngIf="selfLayout !== 'blank' ; else selfLayoutBlank">
	<m-header></m-header>

	<!-- begin::Body -->
	<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body"
		[ngClass]="pageBodyClass$ | async">
		<!-- BEGIN:: Aside Left -->
		<button class="m-aside-left-close" id="m_aside_left_close_btn" [ngClass]="asideLeftCloseClass | mJoin">
			<i class="la la-close"></i>
		</button>
		<ng-container>

		</ng-container>
		<ng-container *ngIf="asideLeftDisplay">
			<m-aside-left></m-aside-left>
		</ng-container>
		<!-- END:: Aside Left -->
		<ngx-spinner type='timer'
        size= 'large'
        bdColor= 'rgba(77, 80, 104, 0.5)'
        color= 'white'
        fullScreen= true></ngx-spinner>

		<div #mContentWrapper class="m-grid__item m-grid__item--fluid m-wrapper">
			<div class="m-content" style="padding: 10px 30px" #mContent>
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
	<!-- end:: Body -->

	<!-- <m-footer></m-footer> -->
	<m-scroll-top></m-scroll-top>
</ng-container>

<ng-template #selfLayoutBlank>
	<router-outlet></router-outlet>
</ng-template>
<!-- end:: Page -->