<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile class="left-pane">
    <div style="background-image: url(./assets/cassia/default/media/img/bg/top-banner.png)">
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div>
      <div>
        <img src="../../../../assets/cassia/default/media/img/logo/dark/logo_dark_large.png">
      </div>
      <div style="margin-left: 129px">
        <form [formGroup]="loginForm">
          <div class="form-group">
            <input type="text" style="width: 64%;" formControlName="username" class="form-control" placeholder="Username" required>
            <!-- <div *ngIf="username.invalid && (username.dirty || username.touched)" class="error">
              <div *ngIf="username.errors">
                Username is required.
              </div>
            </div> -->
          </div>
          <div class="form-group">
            <input type="password" style="width: 64%;" formControlName="password" class="form-control" placeholder="Password" required>
            <!-- <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
              <div *ngIf="password.errors">
                Password is required.
              </div>
            </div> -->
          </div>
          <div class="form-group" style="margin-left: 15%;">
            <button id="login" mat-raised-button style='margin-right:20px' (click)="login()"
              [disabled]="isButtonDisabled">
              Login
              <mat-spinner class="spinner-button" mode="indeterminate" diameter="20" *ngIf="loginLoading"></mat-spinner>
            </button>
            <button id="signup" mat-raised-button (click)="signUp()" [disabled]="isButtonDisabled">Sign Up
              <mat-spinner class="spinner-button" mode="indeterminate" diameter="20" *ngIf="signUpLoading">
              </mat-spinner>
            </button>
          </div>
        </form>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>