mat-grid{
    width: 100%;
    height: auto;
}

.left-pane{
    background-image: url("../../../../../assets/cassia/default/media/img/bg/bg-cassia.png")
}


img {
  margin-left: 100px;
  width: 60%;
  height: auto;
}
